<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <script src="https://kit.fontawesome.com/62f42132ad.js" crossorigin="anonymous"></script>
    <title>HOME PAGE</title>
</head>

<body>
    <div class="home-container">
        <div class="top-photo">
            <div class="left">
                <a class="settings"><i class="fas fa-sliders-h"></i></a>
                <a class="log-out" href="../login"><i class="fas fa-sign-out-alt"></i></a>
            </div>
            <div class="right">
                <div class="logo-home">
                    <img src="/public/img/logo.svg">
                </div>
                <div class="person">
                    <div>Hi, Gabriele</div>
                    <div>
                        <img src="/public/img/osoba.svg">
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <nav>
                <ul>
                    <li>
                        <a class="active" href="home"><i class="fas fa-home"></i>HOME</a>
                    </li>
                    <li>
                        <a><i class="fas fa-map-marked-alt"></i>DISCOVER</a>
                    </li>
                    <li>
                        <a><i class="fas fa-heart"></i>FAVOURITE</a>
                    </li>
                    <li>
                        <a><i class="far fa-clock"></i>YOUR PLANS</a>
                    </li>
                    <li>
                        <a><i class="fas fa-user-circle"></i>ACCOUNT</a>
                    </li>
                </ul>
            </nav>
            <main class="home-bottom">
                <div class="left">
                    <p class="txt1">The most popular plans for the day</p>
                    <p class="txt2">TOP 10 in Poland</p>
                    <div
                </div>
                <div class="right">
                    <div class="counter">
                        <div>
                            <div class="dayplansmade">Day plans made:</div>
                            <div class="number">180</div>
                        </div>
                        <div>
                            <div class="citieswithplans">Cities with plans:</div>
                            <div class="number">180</div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>