<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <title>LOGIN PAGE</title>
</head>

<body>
    <div class="container">
        <div class="logo">
            <img src="public/img/logo.svg">
        </div>
        <div class="login-container">
            <button name="login">Login</button>
            <button name="register">Register</button>
            <div>Welcome</div>
            <form>
            <input name="user name" type="text" placeholder="User Name">
            <input name="email" type="text" placeholder="Email">
            <input name="password" type="password" placeholder="Password">
            <input name="confirm password" type="password" placeholder="Confirm password">
            <input name="date of birth" type="date" placeholder="Date of birth">
            <input name="country" type="text" placeholder="Country">
            <button name="ok">Ok</button>
        </form>
        </div>
    </div>
</body>