<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>LOGIN PAGE</title>
</head>

<body>
    <div class="container">
        <div class="tlo">
            <div class="logo">
                <img src="../img/logo.svg">
            </div>
        </div>
        <div class="login-container">
            <div class="upper-buttons-login">
                <button class="login">Login</button>
                <button class="register">Registeration</button>
            </div>
            <div class="text-welcome">
                <div>Welcome</div>
            </div>
            <div class="text-upper">
                <div>Please login to your account.</div>
            </div>
            <div class="personal-information">
                <form>
                    <input name="user name or email" type="text" type="email" placeholder="User Name">
                    <input name="password" type="password" placeholder="Password">
                </form>
            </div>
            <div class="ok-button-login">
                <button class="forgot-password">Forgot password</button>
                <button class="ok">Ok</button>
            </div>
        </div>
    </div>
</body>