html{
    box-sizing: border-box;
}
body {
    margin: 0;
    overflow: auto;
}
.container {
    width: 100vw;
    height: 100vh;
    background: #EFEFEF 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.tlo{
    width: 55%;
    height: 100%;
    background-image: url('../img/tlo.svg');
    background-size: cover;
}
.logo {
    transform: scale(0.4,0.4);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    text-align: center;
}
.register-container {
    width: 45%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background: white;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    margin-right: 40px;
    margin-left: 40px;

    text-align: left;
    font: normal normal 600 50px/67px Segoe UI;
    letter-spacing: 0px;
    color: #0077AFD1;
}

.login-container{
    width: 45%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background: white;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    margin-right: 40px;
    margin-left: 40px;


    text-align: left;
    font: normal normal 600 50px/67px Segoe UI;
    letter-spacing: 0px;
    color: #0077AFD1;
}


.upper-buttons{
    width: 80%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-self: center;
    gap: 10px;
    margin-top: 30px;
}
.text-welcome{
    width: 80%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-end;


    text-align: center;
    font: normal normal 600 60px/77px Segoe UI;
    letter-spacing: 0px;
    color: #0077AFD1;
}
.text-upper{
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: left;

    text-align: left;
    font: normal normal 600 20px/25px Segoe UI;
    letter-spacing: 0px;
    color: #0077AFD1;
}
.personal-information form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-self: start;
}
.personal-information{
    width: 80%;
}
.personal-information input {
    background-color: transparent;
    width: 120%;
    border: none;
    border-bottom: 1px solid #58A6CB;
    padding: 0.9em;
    margin-bottom: 0.7em;
    margin-top: 0.7em;
    text-align: left;
    font: normal normal 600 15px/20px Segoe UI;
    letter-spacing: 0px;
    color: #0077AFD1;
}
.personal-information input::placeholder{
    font: normal normal 600 15px/20px Segoe UI;
    letter-spacing: 0px;
    color: #0077AFD1;
}

.ok-button{
    width: 125%;
    height: 20%;
    margin-top: 0.9em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
.ok-button a.active {
    background-color: #904797;
    border-radius: 15px;
    opacity: 1;

    text-align: center;
    text-decoration: none;
    padding: 15px 30px;
    font: normal normal 600 15px/20px Segoe UI;
    letter-spacing: 0px;
    color: #E2EDFF;
}

.upper-buttons a.notactive {

    background: white;
    border-radius: 15px;

    text-align: center;
    text-decoration: none;
    padding: 10px 30px;
    font: normal normal 600 15px/20px Segoe UI;
    letter-spacing: 0px;
    color: #087CB1;
}
.upper-buttons a.notactive:hover:not(.active) {
    background-color: #904797;

    text-align: center;
    text-decoration: none;
    padding: 10px 30px;
    font: normal normal 600 15px/20px Segoe UI;
    letter-spacing: 0px;
    color: #E2EDFF;
}
.upper-buttons a.active {
    background-color: #904797;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    padding: 10px 30px;
    font: normal normal 600 15px/20px Segoe UI;
    letter-spacing: 0px;
    color: #E2EDFF;
}

.home-container{
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #FDFDFD 47%, #D2D2D2 100%, #E8E8E8 100%) 0% 0% no-repeat padding-box;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.top-photo{
    height: 40vw;
    width: 100vw;
    background-image: url('../img/pagephoto.svg');
    background-size:cover;
    background-repeat: no-repeat;
    border-radius:0px 0px 40px 40px;
    box-shadow: 0px 3px 6px #00000029;

    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;


}
.bottom{
    height: 60vw;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2em;
}

.top-photo > .left{
    width: 20vw;
    height: 20%;

    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 1em 3em;
    gap: 10px;
}
.top-photo > .right{
    width: 15vw;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2em;
    gap: 40px;
}
.top-photo > .left i{
    font-size: 2em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 0.85;
    padding: 0.3em;
}
.top-photo > .left  a{
    color: #007EAC;
}
.top-photo > .logo-home{
    height: 100%;
}
.logo-home img{
    padding-top: 2em;
    transform: scale(1.4,1.4);
}

.right > .person{
    width: 100%;
    height: 40%;

    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font: normal normal 600 20px/27px Segoe UI;
    letter-spacing: 0.9px;
    color: #FDFDFD;
}
.top-photo > .person > img{
    opacity:1;
    box-shadow: 0px 3px 6px #00000029;
}
.bottom > nav{
    width: 15vw;
    height: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius:0px 0px 20px 20px;
    opacity: 0.85;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
}
.bottom > nav a {
    display: inline-block;
    line-height: 2em;
    text-align: left;
    padding-left: 1.45em;
    width: 100%;
    padding-right: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.bottom > nav a.notactive:hover{
    background: #904797 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 0.85;
    font: normal normal 600 21px/28px Segoe UI;
    color: #E2EDFF;
}
.bottom > nav i {
    margin-right: 1em;
}
.bottom > nav li{
    padding: 0.5em 0 0.5em 0 ;
}
.bottom > nav  ul {
    list-style-type: none;
    font: normal normal 600 21px/28px Segoe UI;
    letter-spacing: 0.5px;
    width: calc(100% - 20px);
    padding-inline-start: 0;
}
.bottom > nav a.active{
    font: normal normal 600 21px/28px Segoe UI;
    background: #904797 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 0.85;
    text-decoration: none;
    color: #E2EDFF;
    letter-spacing: 0.5px;
}
.bottom > nav a.notactive{
    text-decoration: none;
    font: normal normal 600 21px/28px Segoe UI;
    letter-spacing: 0.5px;
    color: #0077AF;
}
.bottom main{
    width: 77vw;
    height: 100%;
    margin-top: 0;
    margin-left: 0.5em;
    margin-right: 0em;

    background:  0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 0.85;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bottom main.home-bottom > .right{
     padding-bottom: 2em;
     width: 50vw;

     display: flex;
     flex-direction: column;
     justify-content: flex-start;
}
.counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    opacity: 0.85;

    margin: 21px 30px;
}
.counter div.left {
    width: 100%;
    background: #AFC9F0 0% 0% no-repeat padding-box;
    border-radius: 20px 0 0 20px;
    margin: 0.5em 0em 0.5em 0.5em;

}
.counter div.right {
    width: 100%;
    background: #AFC9F0 0% 0% no-repeat padding-box;
    border-radius: 0 20px 20px 0 ;
    margin: 0.5em 0.5em 0.5em 0em;
}
.counter p {
    text-align: center;
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: -0.6px;
    color: #007EAC;
}
.counter div.number{
    width: 60%;
    text-align: center;
    text-decoration: none;
    padding: 0.5em;
    font: normal normal bold 20px/27px Segoe UI;
    color: #007EAC;
    text-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
    margin: 20px 20px 20px 45px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
    border-radius: 15px;

}
.fa, .fas{
    width: 1em;
}
.bottom main.home-bottom > .right > .plans-home > div{
    background: #007EAC;
}

.bottom main.home-bottom > .left{
    padding-bottom: 2em;
    width: 50vw;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
p.txt1 {
    text-align: left;
    font: normal normal 600 30px/40px Segoe UI;
    letter-spacing: 0px;
    color: #087CB1;
    margin: 21px 1em;
}
p.txt2 {
    width: 40%;
    padding: 0.1em;
    margin-left: 30px;
    margin-top: 0;
    background: #6F7396 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 15px;
    opacity: 0.85;

    text-align: center;
    font: normal normal bold 18px/24px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 0px 3px 6px #00000029;
}
main.discover-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}
.selectable-bar{
    background: #0E86B0 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
}
.selectable-bar > form {
    height: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1em;
    gap: 0.5em;
}

.selectable-bar select{
    align-self: center;
    width: 22vw;
    padding: 0.5em 2em;
    background: transparent;
    border: 1px solid #FFFFFF;
    display: flex;


    font: normal normal 600 18px/24px Segoe UI;
    color: #E2EDFF;
}

.selectable-bar input[type="date"] {
    align-self: center;
    width: 18vw;
    padding: 0.5em 2em;
    background: transparent;
    border: 1px solid #FFFFFF;
    display: flex;

    font: normal normal 600 18px/24px Segoe UI;
    color: #E2EDFF;
}

.selectable-bar input[type="time"] {
    align-self: center;
    width: 18vw;
    padding: 0.5em 2em;
    background: transparent;
    border: 1px solid #FFFFFF;
    display: flex;

    font: normal normal 600 18px/24px Segoe UI;
    color: #E2EDFF;
}

.submit {
    background: #9C5FA6 0% 0% no-repeat padding-box;
    border-radius: 50px;
    width: 10vw;
    text-align: center;
    padding: 1em;
    color: #E2EDFF;
    font: normal normal 600 18px/24px Segoe UI;
    border: none;
}

.discover-bottom > div.under{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2em;
    gap:2em;
}
.discover-bottom > div.under p{
    align-self: center;
    text-align: left;
    margin:0;
    font: normal normal 600 35px/47px Segoe UI;
    letter-spacing: 2.45px;
    color: #0E86B0;
}
.discover-bottom > div.under a{
    align-self: center;
    text-align: left;
    text-decoration: underline;
    font: normal normal 600 15px/20px Segoe UI;
    color: #0E86B0;
}

@media only screen and (max-device-width: 420px){
    .container {
        flex-direction: column;
    }
    .login-container{
        width: 100%;
        height: 60%;
    }
    .register-container{
        width: 100%;
        height: 60%;
    }
    .tlo{
        height: 40%;
        width: 100%;
        background-image: url('../img/tlo_media.svg');
        background-size: cover;
        position: relative;
    }
    .logo{
        position: absolute;
        right: 10em;
        top: 40em;
        transform: scale(2.5,2.5);
    }
    .upper-buttons {
        flex-direction: column;
        position: absolute;
        left: -4em;
        top : 3em;
        align-content: flex-start;

    }
    .upper-buttons > a.active{
        padding: 30px 60px;
        align-self: center;
        font: normal normal 600 25px/30px Segoe UI;
    }
    .upper-buttons a.notactive{
        align-self: center;
        background-color: transparent;
        color: white;
        padding: 30px 60px;
        font: normal normal 600 25px/30px Segoe UI;
    }
    .upper-buttons a.notactive:hover:not(.active){
        padding: 30px 60px;
        font: normal normal 600 25px/30px Segoe UI;
    }
    .text-welcome {
        position: absolute;
        top : 4em;
        font-size: 90px;
        color: #E2EDFF;
    }
    .text-upper {
        position: absolute;
        font-size: 30px;
        top : 19em;
        color: #E2EDFF;
    }
    .personal-information input{
        font: normal normal 600 40px/45px Segoe UI;
    }
    .personal-information input::placeholder{
        font: normal normal 600 30px/35px Segoe UI;
    }
    .ok-button a.active{
        padding: 30px 60px;
        font: normal normal 600 25px/30px Segoe UI;
    }
    .container input{
        font: normal normal 600 30px/35px Segoe UI;
    }
}



